.controls {
  line-height: 2em;

}

.sources > label {
  margin-right: 2em;
  font-size: 1.2em;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

.input {
  text-align: center;
  border: 1px solid gray;
  border-radius: 3px;
  width: 2.1em;
  font-size: 1em;
}

.input[type='range'] {
  width: 200px;
  margin-right: 1em;
  height: 1em;
  border: 0;
}

.input[type='range']::-moz-range-thumb {
  height: .5em;
  width: .5em;
}

.scores > label {
  font-size: 1.8em;
  height: 1.2em;
}



.sources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
