.locked {
  border: 2px solid red
}

p {
  margin-bottom: 0;
}

.hover-sign {
  min-height: 400px;
}

.movies {
  background: #F1F3F4;
}

.refresh-button {
  width: 200px;
  display: inline-block;
}

@media (max-width: 900px) {

    .refresh-button {
      width: 75%;
    }

}
